@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
/* html{font-size: 62.5%;} */
/* body{
	font-size:1.4em;
	font-style: normal;
} */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}

/* reset.css */
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* 共通 ---------------------------------------------- */
body {
  font-size: 16px;
  font-style: normal;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #292929;
  letter-spacing: 1px;
  font-weight: bold;
}
:root {
--main-color:#306E1D;
  --bg-brown-color:#F2EEE1;
--brown-color:#64562F;
}
.flex{
  display: flex;
}
.fs08{
font-size: 8px;
}
.fs14{
font-size: 14px;
}
.fs18{
font-size: 18px;
}
.bold{
font-weight: bold;
}
.c1{color: var(--main-color) !important;}
.bg_b_c{background-color: var(--bg-brown-color) !important;}
.red{color: #E30A0A;}
.shadow{box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.16);}

/* ボタン */
.btn {
color: #fff;
font-size: 16px;
background-color: var(--main-color);
border-radius: 30px;
padding: 12px 28px;
letter-spacing: 3px;
line-height: 30px;
float: left;
text-align: center;
}

/* 矢印 */
.arrow{
margin-right: 8px;
}
.arrow::before{
content: '';
background-image: url(https://hotel-fuuka.jp/img489/arrow_g.svg);
background-repeat: no-repeat;
display: inline-block;
background-size: contain;
vertical-align: middle;
width: 6px;
height: 11px;
}

/* SPヘッダー ---------------------------------------------- */
.header {
  width: 100%;
  height: 80px;
  padding: 0 0 0 20px;
  position: fixed;
  background-color: #fff;
  align-items: center;
  box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.16);
}
.logo_icon{
  width: 125px;
  height: auto;
  z-index: 4;
  margin-right: 5.7vw;
}
.logo_icon img{
  width: 125px;
}
.nav_btn{
  margin-top: 46px;
  position: absolute;
  right: 110px;
  letter-spacing: 1px;
}
.nav_btn a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_plan{
  font-size: 11px;
  color: var(--main-color);
}

/* ハンバーガー部分 */
.menu-btn {
    position: fixed;
    top: 15px;
    right: 19px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    width: 40px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
}
.menu-btn span:before {
    bottom: 14px;
}
.menu-btn span:after {
    top: 13px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
  background-color: #ADADAD;
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #ADADAD;
}
#menu-btn-check {
  display: none;
}


.ic{
  width: 36px;
  height: 30px;
  position: absolute;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 27px;
  right: 21px;
}
.ic > span{
  display: inline-block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.ic > span:nth-of-type(1){
  top: 0;
}
.ic > span:nth-of-type(2){
  top: 47%;
}
.ic > span:nth-of-type(3){
  bottom: 0;
}


/* メニュー開閉 */
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #fff;
  transition: all 0.5s;/*アニメーション設定*/
  position: fixed;
  overflow: scroll;
}
#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}
/* メニュー内容 */
#g-nav ul{
  z-index: 999;
}
#g-nav .nav_bg{
  background-image: url(https://hotel-fuuka.jp/img489/menu_bg.png);
  width: 80px;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: fixed;
}
#g-nav .nav_access{
  position: absolute;
  color: #292929;
  white-space: nowrap;
  top: 1100px;
  bottom: auto;
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 100px;
  line-height: 20px;
  left: 110px;
}
.nav_btn a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#g-nav .nav_access img{
  position: absolute;
  top: -1040px;
  width: 190px;
  height: auto;
  margin-bottom: 35px;
  mix-blend-mode: multiply;
}
#g-nav .nav_access p{
  margin-left: 0;
  top: auto;
  line-height: 20px;
  position: absolute;
  width: 200px;
  padding-bottom: 100px;
}
#g-nav .nav_access span {
  font-size: 20px;
}
#g-nav .nav_content{
  position: absolute;
  color: #292929;
  max-width: 530px;
  width: 240px;
  top: 140px;
  left: 110px;
  min-width: auto;
  line-height: 26px;
}
#g-nav .nav_content .flex{
  flex-wrap: wrap;
  justify-content: space-between;
}
#g-nav .nav_mc{
  margin-top: 0;
  margin-bottom: 10px;
}
#g-nav .nav_mc li a{
  padding: 15px 0;
}
#g-nav .nav_mc li:first-of-type a{
  padding-top: 0;
}
#g-nav .nav_mc li:last-of-type a{
  margin-bottom: 15px;
}
.nav_btn a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#g-nav .horiz_text{
  width: 250px;
  position: static;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  font-size: 20px;
}
#g-nav .text_line_h{
  padding-left: 20px;
  border: solid 0.1px #292929;
  margin-right: 20px;
}
#g-nav .nav_mc h2{
  font-size: 19px;
  letter-spacing: 0px;
}
#g-nav .nav_mc p{
  margin-top: 5px;
  font-size: 11px;
  margin-left: 42px;
  line-height: 15px;
}
#g-nav .nav_sub{
  margin-bottom: 20px;
  letter-spacing: 2px;
  width: 240px;
  font-size: 16px;
}
#g-nav .nav_sub li a{
  padding: 10px 0;
}
#g-nav .nav_sub li:first-of-type a{
  padding-top: 0;
}
#g-nav .nav_sub li:last-of-type a{
  margin-bottom: 10px;
}
#g-nav .nav_star{
  background-image: url(https://hotel-fuuka.jp/img489/menu_star.png);
  height: 83px;
  width: 100%;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  border-radius: 8px;
}
#g-nav .nav_star h2{
  font-size: 20px;
  left: 15px;
  transform: none;
  top: 15px;
  line-height: 18px;
  position: absolute;
}
#g-nav .nav_star h2 span{
  font-size: 11px;
}
#g-nav .nav_star p{
  font-size: 11px;
  right: 10px;
  bottom: 4px;
  text-shadow: 0 0 5px rgb(0 0 0);
  position: absolute;
}
#g-nav .nav_star p .arrow::before{
  background-image: url(https://hotel-fuuka.jp/img489/arrow_w.svg);
}
#g-nav .btn{
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid;
  height: 68px;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: initial;
  color: #292929;
}
#g-nav .btn .arrow::before{
  background-image: url(https://hotel-fuuka.jp/img489/arrow_b.svg);
}
#g-nav .nav_sns{
  width: auto;
  margin-top: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  align-items: flex-end;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
#g-nav .nav_content .flex .flex_inner{
  display: flex;
  align-items: flex-end;
}
#g-nav .nav_sns .insta_icon{
  margin-bottom: 0;
  margin-top: 10px;
}
.insta_icon a{
  display: inline-block;
}
#g-nav .nav_sns img{
  width: 40px;
  height: auto;
}
.insta_icon p, .facebook_icon p{
  font-size: 7px;
  margin-top: 4px;
  line-height: 11px;
}
#g-nav .nav_sns .facebook_icon{
  margin-bottom: 0;
  margin-left: 20px;
  display: inline-block;
  width: auto;
}
.facebook_icon a{
  display: inline-block;
}
#g-nav .nav_sns .nav_photo{
  margin-left: 0;
  margin-top: 30px;
  border-bottom: 1px solid #292929;
  margin-bottom: 28px;
  width: auto;
}

/* SPフッター ---------------------------------------------- */
footer {
    width: 100%;
}
.footer_img img{
    width: 100%;
    height: 330px;
    object-fit: cover;
}
.footer1{
  background-color: var(--main-color);
}
.footer1_inner {
    justify-content: center;
    padding-top: 57px;
    padding-bottom: 59px;
    flex-direction: column;
}
.footer1 p {
    color: #FFFFFF;
}
.adress {
    margin: 0 auto;
    width: auto;
}
.adress img {
    margin-bottom: 42px;
    margin-right: 0;
}
.adress p {
    line-height: 26px;
    letter-spacing: 1.4px;
}
.adress span {
    margin-left: 14px;
}

footer .each_page {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    margin-top: 60px;
    font-size: 14px;
}
.each_page ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 390px;
    padding-left: 30px;
    justify-content: space-between;
}
.each_page li {
    width: 48%;
}
.each_page a {
    align-items: center;
    margin-right: 0 !important;
}
.page_btn {
    line-height: 42px;
}
.each_page .circle_btn{
    margin-right: 5px;
}
.circle_btn {
    border: 1px solid #FFFFFF;
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    margin-left: 0;
}
.circle_btn:before {
    content: "";
    left: 2.5px;
    width: 5px;
    height: 5px;
    top: 3.5px;
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    transform: rotate(45deg);
    position: absolute;
}
.each_page a p{
    white-space: nowrap;
}

.btn_box {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.white_btn:first-child {
    margin-left: 0;
}
.white_btn {
    margin-bottom: 12px;
    width: 191px;
    border: 2px solid #FFFFFF;
    padding: 9px 0px;
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 13px;
}
.white_btn a {
    color: #FFFFFF;
}
.white_btn p {
    letter-spacing: 2.6px;
    line-height: 25px;
}

.personal_information {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    margin: 40px auto 0;
    width: 92%;
    max-width: 330px;
}
.personal_information a {
    line-height: 32px;
    letter-spacing: 2px;
}
.personal_information a p{
  margin-top: 10px;
}
.personal_information.flex{
  flex-direction: inherit;
  justify-content: center;
}
.footer_c {
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 1px;
    line-height: 32px;
    width: 100%;
    font-weight: 400
}

.footer2 {
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 64px;
    padding-bottom: 159px;
    background-color: var(--bg-brown-color);
}
.footer2 .flex {
    justify-content: center;
}
.footer2_title img{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 300px;
}
.footer2_inner {
    width: 100%;
    max-width: 1300px;
    min-width: auto;
    margin: 0 auto;
}
footer .meal_menu{
    width: 90%;
    max-width: 100%;
    margin: 35px auto 0;
    padding-bottom: 0;
    border-top: 2px solid var(--main-color);
}
.option {
    position: relative;
}
.toggle {
    display: none;
}
.oyado.accordion_title{
    text-align: left;
    padding-left: 10px;
    display: block;
    font-size: 18px;
    padding: 25px 0;
    letter-spacing: 3px;
}
.accordion_title, .accordion_content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}
.accordion_title::after, .accordion_title::before {
    content: "";
    position: absolute;
    right: 12.5px;
    top: 28px;
    width: 2px;
    height: 7.5px;
    background-color: #999;
    transition: all 0.3s;
}
.accordion_title::after {
    transform: rotate(90deg);
}
.accordion_content {
    /* max-height: 0; */
    /* overflow: hidden; */
}
.meal_menu_text {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    /* border-bottom: 1px solid #BCBCBC; */
    color: #292929;
}
.footer2 .title {
    font-size: 18px !important;
    font-weight: bold !important;
    margin: 30px auto 0 !important;
    display: block !important;
    text-align: left !important;
    padding-left: 14px;
}
.footer2 .title p{
    font-size: 18px !important;
}
.hotel_net {
    margin: 10px 40px 0 0;
    padding-bottom: 0px;
    padding-left: 12px;
    white-space: nowrap;
    width: 100%;
}
.hotel_net:last-child{
    padding-bottom: 36px;
}
.hotel_net p {
    line-height: 32px;
    letter-spacing: 1.1px;
    font-size: 12px;
    width: 180px;
}
.hotel_net p:hover{
  color: #292929;
}
.hotel_net a:hover {
  text-decoration: none;
}
/* アコーディオン */
.toggle:checked + .accordion_title + .accordion_content {
    max-height: 1500px;
    transition: all 1.5s;
}

/* noinput */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  outline: none;
  z-index: 100;
  background-color: var(--main-color);
  width: 86px;
  height: 86px;
  border-radius: 0 0 0 20px;
  box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.16);
}
.menu-ul {
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  left: 100vw;
  margin: 0;
  list-style: none;
  width: 100vw;
  height: 100vh;
  background: #fff;
  box-sizing: border-box;
  outline: none;
  transition: left 0.4s 0.1s;
}
.menu-ul::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s 0.1s,
              width 0s 0.5s,
              height 0s 0.5s;
}
.menu:focus .menu-ul {
  left: 0;
  transition: left 0.6s;
}
a:focus  {
  left: -80vw;
}
.menu:focus .menu-ul::after{
  width: 180vw;
  height: 100vh;
  opacity: 0.4;
  transition: opacity 0.5s;
}

.cmn_menu{
  transition: all 0.5s ease;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
/* .ic{
  width: 36px;
  height: 30px;
  position: absolute;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 2.7rem;
  right: 2.1rem;
}
.ic > span{
  display: inline-block;
  position: absolute;
  height: 3px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: all 0.6s ease;
  border-radius: 2px;
}
.ic > span:nth-of-type(1){
  top: 0;
}
.ic > span:nth-of-type(2){
  top: 47%;
}
.ic > span:nth-of-type(3){
  bottom: 0;
} */
/* 閉じる */
.menu_close{
  position: absolute;
  z-index: 999;
  width: 36px;
  height: 30px;
  top: 27px;
  right: 21px;
}
.menu_close span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  height: 3px;
  border-radius: 2px;
}
.menu_close span:nth-of-type(1){
  top: 10px;
  transform: translateY(5px) rotate(-45deg);
  width: 100%;
  background-color: #ADADAD;
}
.menu_close span:nth-of-type(2){
  top: 20px;
  transform: translateY(-5px) rotate(45deg);
  width: 100%;
  background-color: #ADADAD;
}

/* OYADONET */
details {
  /* border: 1px solid #aaa; */
  border-bottom: 2px solid  var(--main-color);
  padding: 5px 5px 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--main-color);
  font-weight: 400;
}

summary {
  font-size: 18px;
  letter-spacing: 3px;
  margin: -5px -5px 0;
  padding: 25px 18px;
  list-style-type: none;
}
summary:before {
  content: "＋";
  float: right;
  color: var(--main-color);
}
details[open] summary:before,
summary details[open] summary:before {
  content: "−";
}
details[open] {
  /* padding: 0.5em; */
}

details[open] summary {
  /* border-bottom: 1px solid #aaa; */
  /* margin-bottom: 0.5em; */
}