@charset "utf-8";
/* CSS Document */
.pc{display: inherit;}
.sp{display: none;}
@media screen and ( max-width:767px ){
	.pc{display: none;}
	.sp{display: inherit;}
}
/* html{font-size: 62.5%;} */
/* body{
	font-size:1.4em;
	font-style: normal;
} */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}

/* reset.css */
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* 共通 ---------------------------------------------- */
body {
    font-size: 16px;
    font-style: normal;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #292929;
    letter-spacing: 1px;
    font-weight: bold;
}
:root {
	--main-color:#306E1D;
    --bg-brown-color:#F2EEE1;
	--brown-color:#64562F;
}
.flex{
    display: flex;
}
.fs08{
  font-size: 8px;
}
.fs14{
  font-size: 14px;
}
.fs18{
  font-size: 18px;
}
.bold{
  font-weight: bold;
}
.c1{color: var(--main-color) !important;}
.bg_b_c{background-color: var(--bg-brown-color) !important;}
.red{color: #E30A0A;}
.shadow{box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.16);}

/* ボタン */
.btn {
  color: #fff;
  font-size: 16px;
  background-color: var(--main-color);
  border-radius: 30px;
  padding: 12px 28px;
  letter-spacing: 3px;
  line-height: 30px;
  float: left;
  text-align: center;
}

/* 矢印 */
.arrow{
  margin-right: 8px;
}
.arrow::before{
  content: '';
  background-image: url(https://hotel-fuuka.jp/img489/arrow_g.svg);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  width: 6px;
  height: 11px;
}

/* PCヘッダー ---------------------------------------------- */
.header {
    width: 100%;
    height: 275px;
    background-size: cover;
    position: relative;
    background-image: url(https://hotel-fuuka.jp/img489/header_bg.png);
    background-position: center;
}

/* グローバルメニュー */
.global_menu{
  position: fixed;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 100px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
  min-width: 1300px;
  box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.16);
}
.global_menu_logo img{
  width: 180px;
  margin-right: 70px;
}
.global_menu_inner,.global_menu_other{
  display: flex;
}
.global_menu_inner li{
  margin-right: 28px;
}
.global_menu_other li{
  border: solid 1px var(--main-color);
  border-radius: 30px;
  padding: 15px 20px;
}
.global_menu_other li:nth-of-type(1){
  margin-right: 10px;
}
.global_menu_other .arrow{
  color: var(--main-color);
}
.global_menu_other .arrow::before{
  background-image: url(https://hotel-fuuka.jp/img489/arrow_g.svg);
}

/* PCフッター ---------------------------------------------- */
footer,.footer_img,.footer_img img {
  width: 100%;
}
.footer1{
  background-color: var(--main-color);
}
.footer1 p {
  color: #FFF;
}
.footer1_inner {
  justify-content: center;
  padding-top: 57px;
  padding-bottom: 80px;
}
footer .adress {
  width: 271px;
  margin-right: 57px;
}
footer .adress img {
  margin-bottom: 40px;
}
footer .adress p {
  line-height: 26px;
  letter-spacing: 1.4px;
}
footer .adress p:last-child {
  margin-top: 20px;
}
footer .adress span {
  margin-left: 14px;
  letter-spacing: 2px;
}
.footer1_inner_detail{
  position: relative;
}
footer .each_page {
  width: 570px;
  margin-top: 20px;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 13px;
}
footer .each_page ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
footer .each_page li {
  width: 190px;
}
footer .each_page a {
  align-items: center;
  margin-right: 0 !important;
}
footer .page_btn {
  line-height: 42px;
}
.circle_btn {
  /* border: 1px solid #FFFFFF; */
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  margin-right: 12px;
}
.circle_btn:before {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  position: absolute;
  top: 50%;
  left: calc(50% - 1px);
  transform: translate(-50%, -50%) rotate(45deg);
}
footer .btn_box {
  margin-top: 30px;
  flex-wrap: wrap;
  width: 720px;
  font-size: 13px;
}
footer .white_btn:first-child {
  margin-left: 0;
  margin-right: 30px;
}
footer .white_btn {
  width: 145px;
  border: 2px solid #FFFFFF;
  padding: 9px 0;
  justify-content: center;
  margin-left: 40px;
  border-radius: 8px;
}
footer .white_btn p {
  letter-spacing: 2.6px;
  line-height: 25px;
}
footer .personal_information {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}
footer .personal_information a {
  margin-top: 32px;
  line-height: 32px;
  letter-spacing: 2px;
  margin-right: 30px;
}
footer .personal_information a:last-child {
  margin-right: 0;
}
.footer_c {
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 400;
}
.footer2 {
  padding-top: 66px;
  padding-bottom: 120px;
  font-weight: 400;
}
.footer2_inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}
.footer2_title.pc img,.footer2_title.sp img {
  max-width: 300px;
  width: 90%;
}
footer .option {
  position: relative;
}
footer .toggle {
  display: none;
}
footer .accordion_title {
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 25px 0;
  letter-spacing: 3px;
}
footer .accordion_title,footer .accordion_content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.3s;
}
footer .accordion_content {
  max-height: 0;
  overflow: hidden;
}
footer .meal_menu_text {
  text-align: left;
  border-bottom: 1px solid var(--main-color);
}
.footer2 .title {
  font-size: 18px !important;
  max-width: 915px !important;
  margin: 30px auto 0 !important;
  display: block !important;
  text-align: left !important;
  font-weight: 500;
}
footer .hotel_net {
  margin: 12px 5px 0 0;
  padding-bottom: 0;
  white-space: nowrap;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: left;
}
footer .hotel_net p {
  line-height: 32px;
  letter-spacing: 1.1px;
  font-size: 11.5px;
  width: 180px;
}
.footer2 .flex {
  justify-content: center;
}