@charset "utf-8";
/* CSS Document */
*{
    min-height: 0vw; /* Safari clamp関数対策 */
}
/*===== ニュース詳細追加CSS =====*/
.detail_inner .news_subtitle{
    font-size: 1.8rem;
}
#news_detail .detail_inner .news_detail p{
    line-height: 1.6;
}
#news_detail .news .news_detail a{
    display: inline-block;
}




/*===== お問い合わせフォーム =====*/
.contact{
    font-weight: normal;
}
#news_detail.contact .news{
    margin-bottom: 0;
}
.contact .top_info{
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
#news_detail.contact .detail{
    border-bottom: 0.1rem solid var(--brown-color);
    margin-bottom: 5rem;
}
.contact table{
    width: 100%;
    border-bottom: 3px solid var(--brown-color);
}
.contact table th, .contact table td{
    padding: 3rem 1rem;
    border-bottom: 1px solid #eee;
}
.contact table th{
    width: 30%;
    letter-spacing: 1px;
}
.contact .select{
    position: relative;
    width: 12.6rem;
    height: 4.8rem;
}
.contact .select2{
    width: 25.4rem;
    height: 4.6rem;
    position: relative;
}
.contact .confirm .select, .contact .confirm .select2{
    height: auto;
}
.contact .select::before, .contact .select2::before{
    position: absolute;
    top: 18px;
    right: 16px;
    width: 0;
    height: 0;
    border-width: 10px 5px 0 5px;
    border-style: solid;
    border-color: #a9a9a9 transparent transparent transparent;
    content: "";
    pointer-events: none;
}
.contact .confirm .select::before, .contact .confirm .select2::before{
    display: none;
}
.contact select, .contact textarea, .contact input[type="text"]{
    padding: 1rem;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
}
.contact select{
    padding: 1rem 5rem 0.8rem 1rem;
}
.contact textarea{
    width: 100%;
}
.contact input[type="text"].p-locality, .contact .c_mail input[type="text"]{
    width: 100%;
}
.contact .c_OF_hidden{
    overflow: hidden;
}
.c_left{
    float: left;
}
.w_50{
    width: 50%;
}
.c_bottom_wrap{
    text-align: center;
    margin: 5rem auto 3.3rem;
}
.contact input[type="submit"] {
    background-color: var(--brown-color);
    color: #ffffff;
    padding: 2rem 12rem;
    line-height: 1;
    border-radius: 100rem;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}
.contact .mw_wp_form .error{
    font-weight: bold;
    color: red;
    letter-spacing: 1px;
    white-space: nowrap;
}

.f-error{
	display: none;
    font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 3.5rem;
	color: #E30000 !important;
}
.f-error.display{
	display: inherit !important;
}
.f-er-n.display-n{
	display: none;
}
.contact .confirm .dis_n{
    display: none !important;
}
.contact .dis_i{
    display: none;
}
.contact .confirm .dis_i{
    display: inherit;
}
.contact .confirm input[type="submit"]{
    margin-right: 6rem;
}
.contact .confirm input[type="submit"]:nth-child(2n){
    margin-right: 0;
}
.contact .confirm input[type="submit"].back.pc{
    display: inline-block !important;
}
.newspage .contact .confirm .vertical{
    text-align: center;
}
#news_detail.contact .arrow{
    transform: translateX(-25%) rotate(-135deg);
}

@media screen and (max-width: 767px){
    #news_detail.contact .news{
        margin-top: 0;
        padding-top: 0;
    }
    .contact .top_info {
        min-width: 30rem;
        width: 80%;
        margin: 0 auto 3rem;
    }
    .contact .last td:last-child {
        border-bottom: solid 1px #ccc;
        width: 100%;
    }
    .contact table{
        width: 100%;
    }
    .contact table th,
    .contact table td {
        border-bottom: none;
        display: block;
        width: 100%;
    }
    .contact table th{
        padding: 3rem 0 1rem;
    }
    .contact table td {
        padding: 0rem 0 2rem;
    }
    .contact .w_50{
        width: 40%;
        margin-right: 2rem;
    }
    .contact .w_50:nth-child(2n){
        margin-bottom: 0;
    }
    .contact textarea{
        width: 100%;
    }
    .contact input[type="text"] {
        width: 100%;
    }
    .contact .mwform-zip-field input[type="text"]{
        width: 30%;
    }
    .contact .mwform-tel-field input[type="text"]{
        width: 27%;
    }
    .f-error{
        min-width: 30rem;
        width: 80%;
        margin: 0 auto 3rem;
    }
    .contact .confirm input[type="submit"]{
        margin-right: 0;
    }
    .contact .confirm input[type="submit"].back.pc{
        display: none !important;
    }
    .contact .confirm input[type="submit"].back.sp{
        margin: 0 auto 7rem;
    }
}



/*===== 動的ページ用背景スタイル =====*/
.roop_bg{
    position: relative;
    padding-top: 9vw;
    padding-bottom: 9vw;
    background-image: url(../image/body_bg_top.png), url(../image/body_bg_bottom.png);
    background-position: 0 0, 0 100%;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-color: #fff;
}
@media screen and (max-width: 767px){
    .roop_bg{
        padding-top: 12vw;
        padding-bottom: 12vw;
        background-image: url(../image/body_bg_top-sp.png), url(../image/body_bg_bottom-sp.png);
    }
}
.roop_bg:nth-child(2n), .roop_bg:last-child{
    background-color: var(--bg-brown-color) !important;
    background-image: none !important;
}
/* #tourism .roop_bg:nth-child(n+2) .illust.fv_fadein{
    display: none !important;
} */


/*===== インスタグラム =====*/
#sb_instagram.sbi_col_7 #sbi_images .sbi_item{
    width: 23rem !important;
    height: 23rem !important;
    margin-right: 14px !important;
    padding: 0 !important;
}
#sb_instagram .sbi_photo{
    width: 23rem !important;
    height: 23rem !important;
    border-radius: 2rem;
}



/*===== トップページのスタイル調整 =====*/
.card02 .slide-detail{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    min-height: 0;
    padding-bottom: 0;
    max-height: 7.1rem;
    opacity: 1 !important;
}

.plan .slick_exp .slick_exp_li p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    min-height: 0;
    padding-bottom: 0;
    max-height: 7.1rem;
    opacity: 1 !important;
}

.swiper-a #sb_instagram{
    padding-bottom: 0 !important;
}

.instagram .swiper-b{
    margin-top: -0.6rem !important;
}


/*===== 第2階層追加調整 =====*/
#hos .content .con_text-r .time, #hos .content .con_text-l .time{
    text-indent: -6.5rem;
    padding-left: 6.5rem;
}

#about .content#about6{
    padding-bottom: 23rem;
}
@media screen and (max-width: 767px){
    #about .content#about6{
        padding-bottom: 7rem;
    }
}