@charset "utf-8";
/* CSS Document */
/* ----- 共通CSS ----- */
.pc{display: inherit !important;}
.sp{display: none !important;}
@media screen and ( max-width:767px ){
	.pc{display: none !important;}
	.sp{display: inherit !important;}
}
html{font-size: 62.5%;}
body{
	font-size:1.6rem;
	font-style: normal;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #292929;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media (min-width: 768px) {
    body {
        min-width: 1024px;
    }
}
@media only screen and (max-width: 767px){
	html{font-size: calc( 1000vw / 430vw );}
}

:root {
	--main-color:#306E1D;
    --bg-brown-color:#F2EEE1;
	--brown-color:#64562F;
}
/* フォントサイズ */
.fs08{
    font-size: 0.8rem;
}
.fs14{
    font-size: 1.4rem;
}
.fs18{
    font-size: 1.8rem;
}
/* float */
.float-r{
    float: right;
    position: relative;
    z-index: 1;
}
.float-l{
    float: left;
    position: relative;
    z-index: 1;
}

.c1{color: var(--main-color) !important;}
.bg_b_c{background-color: var(--bg-brown-color) !important;}
.shadow{box-shadow: 0px 0px 12px rgba( 0, 0, 0, 0.16);}
.bg_wave{
    position: relative;
    padding-top: 9vw;
    padding-bottom: 9vw;
    background-image: url(../image/body_bg_top.png), url(../image/body_bg_bottom.png);
    background-position: 0 0, 0 100%;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-color: #fff;
}

.inner{
    width: 100%;
    max-width: 148rem;
    margin: 0 auto;
    position: relative;
    padding: 0 1rem;
}
.btn {
    color: #fff;
    font-size: 1.6rem;
    background-color: var(--main-color);
    border-radius: 3rem;
    padding: 1.2rem 2.8rem;
    letter-spacing: 0.3rem;
    line-height: 3rem;
    float: left;
}
@media only screen and (max-width: 767px){
    .inner{
        padding: 0 2rem;
    }
    .btn{
        font-size: 2.4rem;
        float: none;
    }
}
/* 矢印 */
.arrow {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 0.45em;
    height: 0.45em;
    transform: translateX(-25%) rotate(45deg);
    margin-right: 1rem;
}
.arrow::before, .arrow::after {
    content: '';
    position: absolute;
    background: currentColor;
    border-radius: 0.1em;
}
.arrow::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0.08em;
}
.arrow::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.08em;
}
.flex {
    display: flex;
}

/* ----- 左右レイアウト ----- */
.content {
  display: flex;
  position: relative;
  padding-bottom: 12rem;
}
.content .con_mv,.content .con_text-r,.content .con_text-l{
  width: 50%;
}
.content .title{
  margin: 0 auto;
  padding-bottom: 11.5rem;
  display: flex;
}
.content .illust{
    position: absolute;
    z-index: 1;
}
.content .illust-r{
  right: 10rem;
  top: 20rem;
}
.content .illust-l{
  left: 10rem;
  top: 16rem;
}
.content .float-l img,.content .float-r img{
  width: 100%;
  height: 61rem;
  object-fit: cover;
  border-radius: 2.2rem;
}
.content .con_text-r{
  padding-left: 6rem;
}
.content .con_text-l{
  padding-right: 6rem;
}
.content .con_text-r,.content .con_text-l{
  width: 50%;
  position: relative;
  height: 61rem;
}
.content .con_text-r h2,.content .con_text-l h2{
  font-size: 3.4rem;
  letter-spacing: 1.3rem;
  line-height: 4.6rem;
  margin-bottom: 3.4rem;
}
.content .con_text-r .con_title p, .content .con_text-l .con_title p{
  font-size: 2rem;
  letter-spacing: 1rem;
  line-height: 3.4rem;
  margin-bottom: 2.5rem;
}
.content .con_text-r .text,.content .con_text-l .text{
  line-height: 3.2rem;
}
.content .con_text-r a,.content .con_text-l a{
  margin-top: 6rem;
}
.content .con_text-r .slick,.content .con_text-l .slick{
  margin-top: 6rem;
}
/* スライダー */
.slick{
  margin-top: 5rem;
}
.slick li img{
  width:21rem !important;
  height:14rem!important;
  object-fit: cover;
  border-radius: 2.2rem;
  margin: 0 1rem 2.3rem;
}
.slick-dots li button:before{
  font-size:2.2rem;
  vertical-align: baseline;
  margin-top:0.1rem;
  color: #AA9C76 !important;
  font-size: 3rem !important;
}
.slick .slick-dots{
  display:flex;
  margin:0 auto;
  justify-content: center;
  width:100%!important;
  align-items: center;
}
.slick .slick-dots li{
  width:2rem!important;
  display:inline-block;
  margin:0;
}
.slick .slick-dots button{
  width:0.3rem;
  height:0.3rem;
  margin:0 auto;
}
.slick-active button:before{
  font-size:3rem !important;
  margin-top:-0.1rem;
  display:block;
}
.slick li button:before:hover{
  display:none;
}
.slick .slick-dots li button:hover:before,
.slick .slick-dots li button:focus:before{
  opacity: 1;
  font-size:3rem;
}

/* ----- Loading ----- */



/* ----- Header ----- */



/* ----- Main Menu ----- */
/* グローバルメニュー */
.global_menu{
    position: fixed;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 10rem;
    color: var(--main-color);
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 14rem;
    font-size: 1.4rem;
    min-width: 130rem;
}
.global_menu_logo img{
    width: 18rem;
    margin-right: 2.5rem;
}
.global_menu_inner,.global_menu_other{
    display: flex;
}
.global_menu_inner li{
    margin-right: 2rem;
}
.global_menu_other li{
    border: solid 0.1rem var(--main-color);
    border-radius: 3rem;
    padding: 1.5rem 2rem;
}
.global_menu_other li:nth-of-type(1){
    margin-right: 1rem;
}
.global_menu_other .arrow{
    color: var(--main-color);
}
/* ハンバーガーメニュー */
.hamburger{
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    width: 12.3rem;
    height: 12.3rem;
    background-color: var(--main-color);
    z-index: 999;
    border-radius: 0 0 0 2rem;
}
.openbtn {
    position: fixed;
    z-index: 999;
    top: 4.7rem;
    right: 4rem;
    width: 4rem;
    height: 3rem;
    padding: 0rem;
}
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    height: 0.3rem;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
}
.openbtn span:nth-of-type(1){
    top: 0;
}
.openbtn span:nth-of-type(2){
    top: 49%;
}
.openbtn span:nth-of-type(3){
    bottom: 0;
}
.hamburger.active .openbtn span{
    background-color: #ADADAD;
}
.hamburger.active .openbtn span:nth-of-type(1) {
    top: 0.8rem;
    transform: translateY(5px) rotate(-45deg);
}
.hamburger.active .openbtn span:nth-of-type(2) {
    opacity: 0;
}
.hamburger.active .openbtn span:nth-of-type(3) {
    bottom: 0.8rem;
    transform: translateY(-5px) rotate(45deg);
}
#g-nav {
    position: fixed;
    z-index: 998;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all 0.6s;
    animation-name: fadein;
}
#g-nav.panelactive #g-nav-list {
    animation-name: fadeInAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: auto;
    line-height: 2.6rem;
}
#g-nav.panelactive {
    right: 0;
}
#g-nav .nav_bg {
    background-image: url(../image/menu_bg.png);
    width: 30%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
}
#g-nav .nav_access {
    position: absolute;
    top: 7rem;
    left: 34%;
    color: #292929;
    font-size: 1.6rem;
}
.nav_btn a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#g-nav .nav_access img {
    width: 28rem;
    height: auto;
    margin-bottom: 3.5rem;
    mix-blend-mode: multiply;
}
#g-nav .nav_content {
    position: absolute;
    top: 9rem;
    left: calc(34% + 26rem);
    color: #292929;
    width: 38%;
    min-width: 44rem;
    max-width: 53rem;
}
#g-nav .nav_content .flex {
    justify-content: space-between;
}
#g-nav .nav_mc {
    margin-top: 0;
    margin-bottom: 1rem;
}
#g-nav ul {
    z-index: 999;
}
#g-nav .nav_mc li {
    margin-bottom: 3rem;
}
.nav_btn a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#g-nav .horiz_text {
    position: static;
    flex-wrap: wrap;
    width: 28rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
}
#g-nav .text_line_h {
    padding-left: 2rem;
    border: solid 0.01rem #292929;
    margin-right: 2rem;
}
#g-nav .nav_mc h2 {
    font-size: 2.2rem;
}
#g-nav .nav_mc p {
    font-size: 1.3rem;
    margin-left: 4.2rem;
    margin-top: 0.4rem;
}
#g-nav .nav_sub{
    width: 16rem;
    font-size: 1.6rem;
}
#g-nav .nav_sub li {
    margin-bottom: 3rem;
}
#g-nav .nav_star {
    background-image: url(../image/menu_star.png);
    height: 8.3rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
}
#g-nav .nav_star h2 {
    font-size: 2.4rem;
    line-height: 2.3rem;
    position: absolute;
    left: 4.5rem;
    top: 55%;
    transform: translateY(-50%);
}
#g-nav .nav_star h2 span {
    font-size: 1.3rem;
}
#g-nav .nav_star p {
    font-size: 1.3rem;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
}
#g-nav .btn {
    border: 0.1rem solid;
    width: 47%;
    height: 6.8rem;
    margin-right: 0;
    margin-top: 3rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#g-nav .nav_sns {
    font-family: 'Noto Sans JP', sans-serif;
    align-items: flex-end;
    text-align: center;
    width: 13rem;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}
#g-nav .nav_content .flex .flex_inner {
    display: flex;
    align-items: flex-end;
}
#g-nav .nav_sns .insta_icon {
    margin-bottom: 0;
    margin-top: 1rem;
}
.insta_icon a {
    display: inline-block;
}
#g-nav .nav_sns img {
    width: 4rem;
    height: auto;
}
#g-nav .nav_sns .nav_photo {
    border-bottom: 0.1rem solid #292929;
    margin-bottom: 2.8rem;
    margin-left: 7rem;
    width: auto;
}

/* ----- Fix menu ----- */



/* ----- Footer ----- */
footer,.footer_img,.footer_img img {
    width: 100%;
}
.footer1{
    background-color: var(--main-color);
}
.footer1 p {
    color: #FFF;
}
.footer1_inner {
    justify-content: center;
    padding-top: 5.7rem;
    padding-bottom: 8rem;
}
footer .adress {
    width: 27.1rem;
    margin-right: 5.7rem;
}
footer .adress img {
    margin-bottom: 4rem;
}
footer .adress p {
    line-height: 2.6rem;
    letter-spacing: 0.14rem;
}
footer .adress p:last-child {
    margin-top: 2rem;
}
footer .adress span {
    margin-left: 1.4rem;
    letter-spacing: 0.2rem;
}
footer .each_page {
    width: 72rem;
    margin-top: 2rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 1.3rem;
}
footer .each_page ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
footer .each_page li {
    width: 23rem;
}
footer .each_page a {
    align-items: center;
    margin-right: 0 !important;
}
footer .page_btn {
    line-height: 4.2rem;
}
.circle_btn {
    /* border: 1px solid #FFFFFF; */
    background-color: #fff;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    position: relative;
    margin-right: 1.2rem;
}
.circle_btn:before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    position: absolute;
    top: 50%;
    left: calc(50% - 0.1rem);
    transform: translate(-50%, -50%) rotate(45deg);
}
footer .btn_box {
    margin-top: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 72rem;
    font-size: 1.3rem;
}
footer .white_btn:first-child {
    margin-left: 0;
}
footer .white_btn {
    width: 14.5rem;
    border: 2px solid #FFFFFF;
    padding: 0.9rem 0rem;
    justify-content: center;
    margin-left: 4rem;
    border-radius: 0.8rem;
}
footer .white_btn p {
    letter-spacing: 0.26rem;
    line-height: 2.5rem;
}
footer .personal_information {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
footer .personal_information a:first-child {
    margin-right: 4rem;
}
footer .personal_information a {
    margin-top: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: 0.2rem;
}
.footer_c {
    text-align: center;
    padding-bottom: 5rem;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 3.2rem;
    font-weight: 400;
}
.footer2 {
    padding-top: 6.6rem;
    padding-bottom: 12rem;
    font-weight: 400;
}
.footer2_inner {
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
}
footer .option {
    position: relative;
}
footer .toggle {
    display: none;
}
footer .accordion_title {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    padding: 2.5rem 0;
    letter-spacing: 0.3rem;
}
footer .accordion_title,footer .accordion_content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}
footer .accordion_content {
    max-height: 0;
    overflow: hidden;
}
footer .meal_menu_text {
    text-align: left;
    border-bottom: 1px solid #BCBCBC;
}
.footer2 .title {
    font-size: 1.8rem !important;
    max-width: 91.5rem !important;
    margin: 3rem auto 0 !important;
    display: block !important;
    text-align: left !important;
    font-weight: 500;
}
footer .hotel_net {
    margin: 1.2rem 0.5rem 0rem 0rem;
    padding-bottom: 0rem;
    white-space: nowrap;
    font-family: 'Noto Sans JP', sans-serif;
}
footer .hotel_net p {
    line-height: 3.2rem;
    letter-spacing: 0.11rem;
    font-size: 1.1rem;
    width: 18rem;
}
.footer2 .flex {
    justify-content: center;
}