@charset "utf-8";
/* CSS Document */

/* ----- トップページ ----- */
/* FV */
.top_fv{
    padding-right: 10rem;
    background: #fff;
    height: 83rem;
}
.top_fv::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7rem;
    width: 100%;
    background: url(../image/fv_bg.png);
}
.top_fv,.top_fv_inner{
    position: relative;
}
.top_fv_movie{
    overflow: hidden;
    border-radius: 0 0 7.7rem 0;
    height: 100%;
}
.top_fv_movie .in{
    position: relative;
    padding-bottom: 83rem;
}
.top_fv_movie .movie{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fv_menu{
    position: absolute;
    top: 17rem;
    right: -7.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fv_menu a:nth-of-type(2){
    margin-top: 4rem;
}
/* topic & news */
.top_topic_news{
    background-color: #F2EEE1;
    padding-top: 4.5rem;
}
.topics_title{
  width: 20vw;
  position: absolute;
  text-align: center;
  padding-left: 5rem;
}
.topics_title h2{
  font-size: 4.8rem;
  color: var(--main-color);
  font-family: ab-kirigirisu, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  line-height: 4.3rem;
}
.topics_title h2 span{
  font-size: 2.4rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.8rem;
}
.topics_title img{
  margin-top: 1rem;
  margin-left: -8rem;
}
/* swiper */
:root {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
  --box-shadow: 0px 0px 16px rgba( 0, 0, 0, 0.16);
  --box-shadow-hover: 0px 12px 16px rgba( 0, 0, 0, 0.12);
}
.l-inner {
  width: 80vw;
  right: 0;
  margin-right: 0;
  margin-left: auto;
  overflow: hidden;
  position: relative;
  padding: 2rem;
}

.l-section {
  border-top: 1px solid #eee;
}
.l-section .l-inner {
  font-family: 'Noto Sans JP', sans-serif;
}

[class*=swiper]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


.swiper-button-prev, .swiper-button-next {
  display: grid;
  place-content: center;
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.swiper-button-prev::before, .swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  /* -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow); */
  background-color: #DED8C3;
}
.swiper-button-prev::after, .swiper-button-next::after {
  width: 2.6rem;
  height: 1.7rem;
  content: "";
  background-image: url(../image/topics_arrow.svg);
  background-repeat: no-repeat;
  z-index: 1;
}
.swiper-button-prev::after {
  /* margin-left: 0.4rem; */
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.swiper-button-next::after {
  /* margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); */
}
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.card02 {
  overflow: hidden;
  position: relative;
}
.card02 .swiper {
  overflow: visible;
}
.card02 .swiper-controller {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  position: absolute;
  width: 93vw;
  right: 0;
  bottom: 1rem;
}
.card02 .swiper-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1.2rem 0.8rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto 0 0;
  text-align: center;
}
.card02 .swiper-pagination-bullet {
  width: 1.6rem;
  height: 3px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  vertical-align: top;
  background-color: var(--color-gray);
}
.card02 .swiper-pagination-bullet-active {
  width: 4rem;
  background-color: var(--color-theme);
}
.card02 .swiper-button-prev, .card02 .swiper-button-next {
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin: 0;
}
.card02 .swiper-button-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.card02 .swiper-button-disabled::before {
  /* -webkit-box-shadow: var(--box-shadow-inset);
          box-shadow: var(--box-shadow-inset); */
}
.card02 .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.card02 .slide {
  overflow: hidden;
  width: 28rem;
  border-radius: 2.2rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.card02 .slide-media {
  padding-top: 20rem;
}
.card02 .slide-media img {
  height: calc(100% + 16px);
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  object-fit: cover;
}
.card02 .slide-content {
  padding: 1.9rem 1.7rem 4.3rem 1.7rem;
  background-color: #fff;
}
.card02 .slide-title {
  line-height: 2.4rem;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: bold;
}
.card02 .slide-date {
  font-size: 1.4rem;
  line-height: 1;
  display: block;
  color: #868686;
}
.card02 .slide-detail {
  line-height: 2.4rem;
  /* display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3.2em; */
  margin-top: 1.4rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  .l-inner {
    padding: 0 4rem;
  }
  .pc {
    display: none !important;
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
  .pc-tab {
    display: none !important;
  }
  .card02 .slide {
    width: 24rem;
  }
}

@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
  .swiper-button-prev::before, .swiper-button-next::before {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-prev:hover::before, .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .card02 .slide {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card02 .slide img {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card02 .slide:hover {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
    -webkit-box-shadow: var(--box-shadow-hover);
            box-shadow: var(--box-shadow-hover);
  }
  .card02 .slide:hover img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}
/* news */
.top_news{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2.2rem;
  max-width: 100rem;
  width: 80%;
  height: 7.7rem;
  margin: 4.5rem auto 0;
}
.top_news h2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: #fff;
  height: 7.7rem;
  width: 14rem;
  border-radius: 2.2rem 0rem 0rem 2.2rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}
.top_news dl{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 7.7rem;
  border-radius: 0rem 2.2rem 2.2rem 0rem;
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.8rem;
  width: 86%;
}
.top_news dl a{
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  margin-right: 2rem;
  white-space: nowrap;
}
.top_news dt{
  margin-left: 3rem;
}
.top_news dd{
  margin-left: 2rem;
  line-height: 2.4rem;
}
/* まるごとおもてなし */
.special{
  position: relative;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-image: url(../image/body_bg_top.png), url(../image/body_bg_bottom.png);
  background-position: 0 0, 0 100%;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-color: #fff;
}
.special .title{
  text-align: center;
  font-size: 3.6rem;
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 1rem;
  line-height: 6rem;
}
.special .title span{
  font-family: ab-kirigirisu, sans-serif;
  font-size: 3rem;
  letter-spacing: 0;
}
.special .title span::before,
.special .title span::after{
  content: url(../image/title_line.svg);
}
.special .title span::before{
  margin-right: 3rem;
}
.special .title span::after{
  margin-left: 3rem;
}
.special_contents{
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  padding-top: 6vw;
}
.special_contents_inner{
  width: calc(50% - 1.25vw);
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  max-width: 750px;
  display: block;
}
.special_contents_img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.special_contents_img figure{
  clip-path: path('M257.227,495.833a430.935,430.935,0,0,1-206.251,0c-20.286-5.113-38.9-27.368-41.089-47.551a1910.475,1910.475,0,0,1,0-388.209c2.188-20.184,20.8-42.438,41.089-47.552a430.935,430.935,0,0,1,206.251,0c20.286,5.114,38.9,27.368,41.089,47.552a1910.475,1910.475,0,0,1,0,388.209c-2.188,20.183-20.8,42.438-41.089,47.551'); 
   /* width: 100%;
   padding-top: 100%; */
}
/* ======================= */
.special .flex {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 110rem;
  margin: 0 auto;
}
.special_contents {
  position: relative;
  padding-top: 6vw;
}
.special_contents_inner {
  width: 51rem;
}
.special_contents_img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.special_contents_img figure {
  /* padding-top: 100%; */
  clip-path: url(#mask-special);
  -webkit-clip-path: url(#mask-special);
  height: 31rem;
}
.special_contents_img figure {
  width: 100%;
  /* padding-top: 100%; */
}
.special_contents_img figure>.fit {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.special_contents_img figure>.fit>img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  font-family: 'object-fit:cover; object-position: 50% 50%;';
  width: 100%;
  height: 100%;
}
.special_contents_text{
  position: absolute;
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1rem;
  line-height: 3.7rem;
}

/* ----- まるごとおもてなし ----- */


/* ----- お食事 ----- */



/* ----- 客室のご案内 ----- */



/* ----- ホテルのご案内 ----- */



/* ----- 周辺観光 ----- */



/* ----- アクセス ----- */



/* ----- お問い合わせ ----- */



/* ----- 個人情報保護方針 ----- */



/* ----- 個人情報保護規程 ----- */



/* ----- お知らせ ----- */



/* ----- イベント情報 ----- */



