@charset "utf-8";
/* CSS Document */

/* ----- トップページ ----- */
/* FV */
.top_fv{
    padding-right: 10rem;
    background: #fff;
    height: 83rem;
}
.top_fv::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7rem;
    width: 100%;
    background: url(../image/fv_bg.png);
}
.top_fv,.top_fv_inner{
    position: relative;
}
.top_fv_movie{
    overflow: hidden;
    border-radius: 0 0 7.7rem 0;
    height: 100%;
}
.top_fv_movie .in{
    position: relative;
    padding-bottom: 83rem;
}
.top_fv_movie .movie{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fv_menu{
    position: absolute;
    top: 17rem;
    right: -7.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fv_menu a:nth-of-type(2){
    margin-top: 4rem;
}
.top_fv_text{
  position: absolute;
  right: 16rem;
  top: 19rem;
  display: flex;
  flex-direction: row-reverse;
}
.top_fv_text p{
  writing-mode: vertical-rl;
  background-color: #fff;
  color: var(--main-color);
  border-radius: 3rem;
  padding: 3.5rem 1.2rem;
  font-size: 2.4rem;
  letter-spacing: 0.7rem;
  margin-left: 2.4rem;
  height: fit-content;
}
.top_fv_text p:nth-of-type(2){
  margin-top: 7rem;
}
.top_fv_text p:nth-of-type(3){
  margin-top: 14rem;
}
/* topic & news */
.top_topic_news{
    background-color: var(--bg-brown-color);
    padding-top: 4.5rem;
}
.topics_title{
  width: 20vw;
  position: absolute;
  text-align: center;
  padding-left: 5rem;
}
.topics_title h2{
  font-size: 4.8rem;
  color: var(--main-color);
  font-family: ab-kirigirisu, sans-serif;
  font-style: normal;
  line-height: 4.3rem;
}
.topics_title h2 span{
  font-size: 2.4rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.8rem;
}
.topics_title img{
  margin-top: 1rem;
  margin-left: -8rem;
}
/* swiper */
:root {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
  --box-shadow: 0px 0px 16px rgba( 0, 0, 0, 0.16);
  --box-shadow-hover: 0px 12px 16px rgba( 0, 0, 0, 0.12);
}
.l-inner {
  width: 80vw;
  right: 0;
  margin-right: 0;
  margin-left: auto;
  overflow: hidden;
  position: relative;
  padding: 2rem;
}

.l-section {
  border-top: 1px solid #eee;
}
.l-section .l-inner {
  font-family: 'Noto Sans JP', sans-serif;
}

[class*=swiper]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


.swiper-button-prev, .swiper-button-next {
  display: grid;
  place-content: center;
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.swiper-button-prev::before, .swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  /* -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow); */
  background-color: #DED8C3;
}
.swiper-button-prev::after, .swiper-button-next::after {
  width: 2.6rem;
  height: 1.7rem;
  content: "";
  background-image: url(../image/topics_arrow.svg);
  background-repeat: no-repeat;
  z-index: 1;
}
.swiper-button-prev::after {
  /* margin-left: 0.4rem; */
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.swiper-button-next::after {
  /* margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); */
}
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.card02 {
  overflow: hidden;
  position: relative;
}
.card02 .swiper {
  overflow: visible;
}
.card02 .swiper-controller {
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  position: absolute;
  width: 93vw;
  right: 0;
  bottom: 1rem;
}
.card02 .swiper-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1.2rem 0.8rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto 0 0;
  text-align: center;
}
.card02 .swiper-pagination-bullet {
  width: 1.6rem;
  height: 3px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  vertical-align: top;
  background-color: var(--color-gray);
}
.card02 .swiper-pagination-bullet-active {
  width: 4rem;
  background-color: var(--color-theme);
}
.card02 .swiper-button-prev, .card02 .swiper-button-next {
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin: 0;
}
.card02 .swiper-button-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.card02 .swiper-button-disabled::before {
  /* -webkit-box-shadow: var(--box-shadow-inset);
          box-shadow: var(--box-shadow-inset); */
}
.card02 .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.card02 .slide {
  overflow: hidden;
  width: 28rem;
  border-radius: 2.2rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.card02 .slide-media {
  padding-top: 20rem;
}
.card02 .slide-media img {
  height: calc(100% + 16px);
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  object-fit: cover;
}
.card02 .slide-content {
  padding: 1.9rem 1.7rem 4.3rem 1.7rem;
  background-color: #fff;
}
.card02 .slide-title {
  line-height: 2.4rem;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  color: var(--main-color);
}
.card02 .slide-date {
  font-size: 1.4rem;
  line-height: 1;
  display: block;
  color: #868686;
  font-weight: 400;
}
.card02 .slide-detail {
  line-height: 2.4rem;
  margin-top: 1.4rem;
  font-size: 1.4rem;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  .l-inner {
    padding: 0 4rem;
  }
  .pc {
    display: none !important;
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
  .pc-tab {
    display: none !important;
  }
  .card02 .slide {
    width: 24rem;
  }
}

@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
  .swiper-button-prev::before, .swiper-button-next::before {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-prev:hover::before, .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .card02 .slide {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card02 .slide img {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card02 .slide:hover {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
    -webkit-box-shadow: var(--box-shadow-hover);
            box-shadow: var(--box-shadow-hover);
  }
  .card02 .slide:hover img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}
/* news */
.top_news{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2.2rem;
  max-width: 100rem;
  width: 80%;
  height: 7.7rem;
  margin: 4.5rem auto 0;
}
.top_news h2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: #fff;
  height: 7.7rem;
  width: 14rem;
  border-radius: 2.2rem 0rem 0rem 2.2rem;
  font-family: 'Noto Sans JP', sans-serif;
}
.top_news dl{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 7.7rem;
  border-radius: 0rem 2.2rem 2.2rem 0rem;
  color: var(--main-color);
  font-size: 1.8rem;
  width: 86%;
}
.top_news dl a{
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  margin-right: 2rem;
  white-space: nowrap;
}
.top_news dt{
  margin-left: 3rem;
}
.top_news dd{
  margin-left: 2rem;
  line-height: 2.4rem;
}
/* まるごとおもてなし */
.special .title{
  text-align: center;
  font-size: 3.6rem;
  color: var(--main-color);
  letter-spacing: 1rem;
  line-height: 6rem;
}
.special .title span{
  font-family: ab-kirigirisu, sans-serif;
  font-size: 3rem;
  letter-spacing: 0;
}
.special .title span::before,
.special .title span::after{
  content: url(../image/title_line.svg);
}
.special .title span::before{
  margin-right: 3rem;
}
.special .title span::after{
  margin-left: 3rem;
}
.special_contents{
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  padding-top: 4rem;
}
.special_contents_inner{
  width: calc(50% - 1.25vw);
  flex-shrink: 0;
  width: 51rem;
  height: 100%;
  position: relative;
  transition-property: transform;
  max-width: 750px;
  display: block;
  margin: 2.2rem auto;
}
.special_contents_inner figure{
  clip-path: path('M257.227,495.833a430.935,430.935,0,0,1-206.251,0c-20.286-5.113-38.9-27.368-41.089-47.551a1910.475,1910.475,0,0,1,0-388.209c2.188-20.184,20.8-42.438,41.089-47.552a430.935,430.935,0,0,1,206.251,0c20.286,5.114,38.9,27.368,41.089,47.552a1910.475,1910.475,0,0,1,0,388.209c-2.188,20.183-20.8,42.438-41.089,47.551'); 
}
.special .flex {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
}
.special_contents_inner figure {
  clip-path: url(#mask-special);
  -webkit-clip-path: url(#mask-special);
  height: 31rem;
}
.special_contents_inner figure {
  width: 100%;
}
.special_contents_inner figure>img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  font-family: 'object-fit:cover; object-position: 50% 50%;';
  width: 100%;
  height: 100%;
}
.special_contents_text{
  position: absolute;
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1rem;
  line-height: 3.7rem;
  text-align: center;
}
.special_contents_text h2{
  margin-bottom: 2.2rem;
}
.special .special_contents_inner:last-child .btn{
  background-color: #3C2F09;
}
.special .concept{
  display: flex;
  margin-top: 7.7rem;
}
.special .concept .float-l,
.special .concept .float-r{
  width: 50%;
}
.special .concept .title{
  text-align: left;
  line-height: 4.5rem;
  padding-right: 3rem;
}
.special .concept .title h2:nth-of-type(1){
  color: var(--main-color);
  font-size: 3.6rem;
  letter-spacing: 1rem;
  font-family: ab-kirigirisu, sans-serif;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}
.special .concept .title h2:nth-of-type(2){
  font-size: 3.2rem;
  color: #292929;
  letter-spacing: 1rem;
  letter-spacing: 0.4rem;
}
.special .concept .title img{
  float: right;
}
.special .concept .float-r{
  font-size: 2rem;
  line-height: 3.8rem;
  padding-left: 3rem;
  padding-top: 4.7rem;
}
.special .concept .btn{
  margin-top: 6.2rem;
}
.special .concept a:last-of-type .btn{
  margin-left: 3.3rem;
}
/*客室*/
.room.content{
  padding-bottom: 30rem;
}
/* 露天風呂 */
.bath.content .illust{
  bottom: -27.3rem;
  right: 20rem;
}
/* 体験宿泊プラン */
.plan.bg_wave{
  padding-top: 23rem;
  padding-bottom: 23rem;
}
.plan .title,.news .title,.hotel .title,.map .title{
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.3rem;
}
.plan .slick_exp{
  margin-top: 5.1rem;
  margin-bottom: 0 !important;
}
.plan .slick_exp .slick_exp_li{
  width: 67rem;
  margin: 0 4.2rem;
}
.plan .slick_exp .slick_exp_li img{
  width: 67rem;
  height: 32rem;
  object-fit: cover;
  border-radius: 2.2rem;
}
.plan .slick_exp .slick_exp_li h2{
  font-size: 2rem;
  margin-top: 2.5rem;
  letter-spacing: 0.2rem;
}
.plan .slick_exp .slick_exp_li p{
  font-size: 1.5rem;
  margin-top: 0.8rem;
  letter-spacing: 0.2rem;
  line-height: 2.3rem;
}
/* 矢印 */
/*矢印の設定*/
.slick-arrow {
  display: block;
  position: absolute;
  bottom: auto;
  margin: 0px calc(50vw - 36.5rem);
  padding: 0 !important;
  width: 7.2rem !important;
  height: 7.2rem !important;
  color: #292929 !important;
  z-index: 1;
  transition: opacity 0.5s;
  z-index: 1;
  background-color: #fff !important;
  border-radius: 50%;
  top: 17rem !important;
}
.slick-arrow:hover {
  opacity: 0.7;
  background-color: #fff;
}
.experience_list .slick-arrow{
  top: 20rem !important;
}

/* 共通設定 */
.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto !important;
  content: "" !important;
  vertical-align: middle;
}
.slick-next::after,
.slick-prev::after {
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  margin: 2rem 1.8rem;
}
/* next */
.slick-next {
  right: -9rem !important
}
.slick-next::after {
  right: 3.2rem;
  transform: rotate(45deg);
}
/* prev */
.slick-prev {
  left: -9rem !important
}
.slick-prev::after {
  left: 3.2rem;
  transform: rotate(-135deg);
}
/* ドットナビゲーション */
.slick_exp-dots {
  text-align:center;
  margin: 2rem auto 0;
}
.slick_exp-dots li {
  display:inline-block;
  margin: 0 1rem;
  height: 0rem;
}
.slick_exp-dots button {
  color: transparent;
  outline: none;
  width:5px;/*ドットボタンのサイズ*/
  height:5px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
  margin: 0 auto;
}
.slick_exp-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
  width:7px;/*ドットボタンのサイズ*/
  height:7px;/*ドットボタンのサイズ*/
}
@media screen and (max-width: 767px){
  .slick_exp-dots li{
    margin: 0 -16rem !important;
    height: 0;
}
.slick_exp-dots{
    margin: 3rem auto 0;
    display: flex;
    width: 50%;
    justify-content: center;
}
}

/* お知らせ */
.news{
  margin-top: 10rem;
}
.news dl {
  max-width: 83rem;
  width: 90%;
  /* border-top: 0.3rem solid var(--brown-color); */
  margin: 3rem auto 0;
  font-family: 'Noto Sans JP', sans-serif;
}
.news dl::before,.news dd::after{
  background-color: var(--brown-color);
  border-radius: 1.5px;
  content: "";
  display: block;
  height: 3px;
}
.news dd::after{
  margin-top: 2.6rem;
}
.news dt,.news dd h2,.news dd p{
  padding: 0rem 1.6rem;
}
.news dt {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 400;
}
.news dd h2{
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin: 1rem 0;
}
.news dd p{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.news .btn{
  margin: 7rem auto 0;
  background-color: var(--brown-color);
}
/* ホテル施設 */
.hotel{
  padding-top: 3rem;
}
.hotel .about{
  font-size: 2rem;
  margin: 4rem auto 5rem;
  text-align: center;
  line-height: 2.6rem;
  letter-spacing: 0.3rem;
}
.hotel .illust{
  position: absolute;
  left: 6rem;
  top: -21rem;
  z-index: 1;
}
.hotel .hotel_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 100rem;
}
.hotel .hotel_list li {
  position: relative;
  margin: 1.4rem 1.5rem;
}
.hotel .hotel_list li img{
  width: 40rem;
  height: 28rem;
  object-fit: cover;
  border-radius: 2.2rem;
}
.hotel .hotel_list li h2{
  font-size: 2.8rem;
  color: #fff;
  position: absolute;
  z-index: 1;
  text-shadow: 0px 0px 6px rgba( 65, 65, 65, 0.8);
  left: 3.5rem;
  bottom: 4rem;
  line-height: 3.8rem;
}
.hotel .btn{
  margin: 3rem auto 0;
  background-color: var(--brown-color);
}
/* 八ヶ岳周辺観光 */
.tourism.bg_wave{
  padding-bottom: 15vw;
}
.tourism .title{
  text-align: center;
  color: var(--main-color);
}
.tourism .title h2{
  font-size: 3.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.tourism .title p{
  font-size: 2.2rem;
  font-family: ab-kirigirisu, sans-serif;
  line-height: 2.2rem;
}
.tourism .illust{
  position: absolute;
  z-index: 1;
}
.tourism .illust:nth-of-type(1){
  left: 15rem;
  top: 4rem;
}
.tourism .illust:nth-of-type(2){
  right: 15rem;
  top: 6rem;
}
.tourism .slick_tourism{
  margin-top: 7.3rem;
}
.tourism .slick_tourism li{
  width: 29rem;
  margin: 0 2.5rem;
  line-height: 2.6rem;
  letter-spacing: 0.1rem;
}
.tourism .slick_tourism li img{
  width: 29rem;
  height: 37rem;
  object-fit: cover;
  border-radius: 2.2rem;
}
.tourism .slick_tourism li h2{
  color: var(--main-color);
  font-size: 2.2rem;
  margin: 3rem 0 1.5rem;
}
/* インスタグラム */
.instagram{
  padding-top: 7rem;
  padding-bottom: 57rem;
}
.instagram .title{
  text-align: center;
  letter-spacing: 0.3rem;
  margin-bottom: 5.5rem;
}
.instagram .title h2{
  font-family: ab-kirigirisu, sans-serif;
  font-size: 3rem;
  margin-bottom: 4.5rem;
}
.instagram .title h2::before{
  content: url(../image/icon_instagram.svg);
  position: relative;
  top: 4px;
  margin: 0 12px 0 0;
}
.l-section {
  border-top: 1px solid #eee;
}
.l-section .l-inner {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

[class*=swiper]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.2rem;
}
.insta_slide .l-inner {
  padding-bottom: 0;
}
.insta_slide .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}
.insta_slide .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.insta_slide .slide {
  width: var(--slide-width);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  --slide-width: 23rem;
}
.insta_slide .slide-media {
  height: var(--slide-width);
}
.swiper-b{
  margin-top: 1.4rem;
}
/* map */
.map_bg{
  position: relative;
  padding-top: 1vw;
  padding-bottom: 9vw;
  background-image: url(../image/body_bg_top.png);
  background-position: 0 0, 0 100%;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-color: #fff;
 }
.map{
  position: relative;
}
.map .inner{
  position: absolute !important;
  top: -47rem;
  left: 50%;
  transform: translateX(-50%);
}
.map .title{
  margin-bottom: 4.5rem;
}
.map .googlemap{
  margin: 0 auto;
  max-width: 144rem;
  width: 90%;
  height: 73rem;
  position: relative;
}
.map .googlemap iframe{
  margin: 0 auto;
  max-width: 144rem;
  width: 100%;
  height: 73rem;
  border-radius: 8rem;
}
.map .address{
  display: flex;
  justify-content: flex-start;
  margin: 5.6rem auto 0;
  max-width: 144rem;
  width: 90%;
  letter-spacing: 0.1rem;
  margin-bottom: 18rem;
}
.map .address h2{
  font-size: 2.6rem;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  line-height: 3.2rem;
}
.map .address h2::after{
  content:"";
  display:inline-block;
  width:3px;
  height:57px;
  background-color:#707070;
  margin-left: 4rem;
}
.map .address div{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.map .address p{
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-left: 4rem;
  white-space: nowrap;
}

/* ----- まるごとおもてなし ----- */


/* ----- お食事 ----- */



/* ----- 客室のご案内 ----- */



/* ----- ホテルのご案内 ----- */



/* ----- 周辺観光 ----- */



/* ----- アクセス ----- */



/* ----- お問い合わせ ----- */



/* ----- 個人情報保護方針 ----- */



/* ----- 個人情報保護規程 ----- */



/* ----- お知らせ ----- */



/* ----- イベント情報 ----- */



